/* 
  I believe this file is for all the global css properties
  e.g text font, colour, size...
  This should 
*/


/* 
  this is applied globally. 
  Contains colour information.
  This is then used to be passed as variables

  '--Name' declares a css variable
  var() references css variable
  v-bind() references vuejs variable
*/
:root {
  --ThemeA-Primary: #723d46;
  --ThemeA-Secondary: #472d30;
  --ThemeA-Accent: #C9CBA3;

  --WindowBorder-Radius: 15px;
  --WindowBorder-Thickness: 5px;
  --box-shadow: 0 0 2px #C9CBA3;

  --ThemeA-Hover: #5e2a33;
  --ThemeA-Select:  #4b1e26;

  --Base-Font-Family: "Libre Franklin", sans-serif;

  --vt-c-text-light-1: var(--vt-c-indigo);

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #E8E8E8;

  --Theme-c-dark-1: var(--vt-c-white);
  --Theme-c-dark-2: var(--vt-c-white-mute);

  --font-Colour: var(--vt-c-white-mute);

  --cursor: "default";
}

/* semantic color variables for this project */
/* Default AKA light mode */
:root {

  --font-family: var(--Base-Font-Family);
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --Primary-background-colour: var(--ThemeA-Primary);
  --Secondary-background-colour: var(--ThemeA-Secondary);
  --Accent-background-colour: var(--ThemeA-Accent);

  --Hover-colour: var(--ThemeA-Hover);
  --Select-colour: var(--ThemeA-Select);

  --window-padding: 0.5em;

  --cursor: "default";
}
/* If dark theme, changes root to these variables */
@media (prefers-color-scheme: dark) {
  :root {
    --font-family: var(--Base-Font-Family);
    
    --color-heading: var(--Theme-c-dark-2);
    --color-text: var(--Theme-c-dark-2);

    --Primary-background-colour: var(--ThemeA-Primary);
    --Secondary-background-colour: var(--ThemeA-Secondary);
    --Accent-background-colour: var(--ThemeA-Accent);

    --Container-Hover-colour: var(--ThemeA-Container-Hover);
    --Container-Select-colour: var(--ThemeA-Container-Select);

    --cursor: "default";
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-family);

  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: var(--cursor);
}
